
#name {
    font-size: 50px;
    font-family: Helvetica;
}
#role {
    font-size: 25px;
    font-family: Courier;
}
#page {
    background-color: lightblue;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}