body {
    background-color: antiquewhite;
    padding: 10px;
    
}
#container {
    display: flex;
    flex-direction: column;
}
#topbody {
    padding-top: 100px;
}
#education {
    border: 2px solid gray;
    border-radius: 10px;
    padding: 10px;
    background-color: lightgray;
}
#work {
    border: 2px solid gray;
    border-radius: 10px;
    padding: 10px;
    background-color: lightgray;
}
#leftimage {
    float: left;
}
